.card {
  padding: 0 1.5rem;
  max-width: 368px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  &-title {
    @include set-typography(24px, 36px, 400, uppercase);
    padding: px-to-rem(24px) 0 px-to-rem(200px);

    @include set-media(sm) {
      @include set-typography(16px, 24px, 400, uppercase);
      padding: px-to-rem(16px) 0 px-to-rem(200px);
    }
  }

  &-price {
    @include set-typography(64px, 64px, 400);
    position: relative;
  }

  .currency {
    @include set-typography(32px, 48px, 400, uppercase);
    padding-left: 1rem;
    vertical-align: top;
  }

  .describtion {
    // @include set-typography(13px, 19px, 400);
    font-size: 13px;
    line-height: 19px;
    margin: px-to-rem(64px) 0;
  }
}
