.form {
  max-width: px-to-rem(570px);

  margin: 0 auto;

  &-input {
    flex: 1 1 px-to-rem(270px);
    min-width: px-to-rem(270px);
    min-height: px-to-rem(50px);

    margin-bottom: 1.5rem;
    margin-top: px-to-rem(17px);

    padding-left: px-to-rem(20px);

    @include set-typography(15px, 16.41px, 700);
    color: $white;

    background: transparent;
    border: px-to-rem(2px) solid $dark-gray;
    border-radius: px-to-rem(3px);
  }

  &-input:not(:last-child) {
    margin-right: 1.5rem;
  }

  @include set-media(sm) {
    flex-wrap: wrap;

    &-input:not(:last-child) {
      margin-right: 0;
    }

    &-input:last-child {
      margin-top: 0;
    }
  }
}
