$icons: ("play-button", "heart");

.icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
  }
}

@mixin set-icon($width, $height, $left, $bottom) {
  &::before {
    width: px-to-rem($width);
    height: px-to-rem($height);
    left: px-to-rem($left);
    bottom: $bottom;
  }
}

@each $name in $icons {
  .icon-#{$name} {
    &::before {
      background-image: url("../images/#{$name}.svg");
      filter: invert(1);
    }
  }
}
