.home-page-description {
  padding: px-to-rem(200px) 0;

  @include set-bg-image(banner, png);

  @include set-media(sm) {
    padding: px-to-rem(250px) 0 px-to-rem(200px) 0;
  }

  p {
    margin-top: px-to-rem(31px);

    @include set-media(sm) {
      margin-top: px-to-rem(16px);
    }
  }

  &-btn {
    flex: 1 1 px-to-rem(570px);
    max-width: px-to-rem(570px);
    min-height: px-to-rem(57px);
    margin: 0;

    @include set-typography(13.3px, 15px, normal, uppercase);

    @include set-media(sm) {
      margin-top: 1.5rem;
    }
  }
}

.page-pricing {
  .flex-container {
    column-gap: px-to-rem(50px);
    row-gap: px-to-rem(50px);

    & > * {
      max-width: px-to-rem(366px);

      @include set-media(sm) {
        max-width: px-to-rem(374px);
      }
    }

    @include set-media(sm) {
      justify-content: center;
    }
  }

  @include set-card-bg();

  &-btn {
    flex: 1 1 px-to-rem(326px);
    max-width: px-to-rem(326px);
    min-height: px-to-rem(66px);

    margin: 2.5rem 0 0 0;

    background: transparent;
    border: px-to-rem(1px) solid $white;

    @include set-typography(16px, 24px, normal, uppercase);
  }
}

.page-news {
  .flex-container {
  
    flex: 1 1 575px;
    justify-content: space-between;

    & > * {
      max-width: 575px;
    }
  }

  & > article:not(:last-child) {
    margin-bottom: px-to-rem(65px);
  }

  .news-image  {
    width: 100%;
    height: px-to-rem(286px);

    @include set-media(sm) {
      height: px-to-rem(186px);
    }
  }

  &-btn {
    max-width: px-to-rem(135px);
    min-height: px-to-rem(53px);
    
    margin: 0;
    padding: 0 px-to-rem(30px);

    @include set-typography(12px, 19px, normal, uppercase);
    color: $dark-gray;

    background: transparent;
    border: px-to-rem(1px) solid $dark-gray;

  }

  .news-body-special-margin {
    margin-top: px-to-rem(16px);

    @include set-media(sm) {
      margin-top: px-to-rem(16px);
    }
  }

}