.card {
  padding: 0 1.5rem;

  border: none;
  border-radius: 1rem;
  cursor: pointer;

  &-title {
    padding: px-to-rem(24px) 0 px-to-rem(200px);
    @include set-typography(24px, 36px, 400, uppercase);
  }

  &-price {
    @include set-typography(64px, 64px, 400);
  }

  .currency {
    @include set-typography(32px, 48px, 400, uppercase);
    padding-left: 1rem;
  }

  .describtion {
    @include set-typography(12.8px, 19.2px, 400);
    margin: px-to-rem(62px) 0;
  }

  @include set-media(sm) {

    &-title {
      @include set-typography(16px, 24px, 400, uppercase);
      padding: px-to-rem(16px) 0 px-to-rem(200px);
    }
  }
}