* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

html {
  color: #cacaca;
  font-weight: 400;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  line-height: 1.5rem;
  text-transform: inherit;

  background-color: #08020d;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 5.625rem;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.813rem;
    text-transform: uppercase;
  }
}

h2 {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 3.563rem;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  h2 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.688rem;
    text-transform: uppercase;
  }
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;

  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.main-content {
  margin-bottom: 6.25rem;

  color: #fff;
}

/* box-model */
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fd-row-reverse {
  flex-direction: row-reverse;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.fd-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

/* position */
.p-relative {
  position: relative;
}

.pt-40 {
  padding-top: 2.5rem;
}

.pt-43 {
  padding-top: 2.688rem;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}

.pb-48 {
  padding-bottom: 3rem;
}

.pb-46 {
  padding-bottom: 2.875rem;
}

.pb-43 {
  padding-bottom: 2.688rem;
}

.m-a {
  margin: auto;
}

/* style */
.color-white {
  color: #fff;
}

.color-dark-gray {
  color: #cacaca;
}

.color-orange {
  color: #f89202;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;
}

/* typography */
.text-center {
  text-align: center;
}

.to-uppercase {
  text-transform: uppercase;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  background: none;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}

.btn-adapt {
  width: max-content;
}

@media (max-width: 320px) {
  .btn-adapt {
    width: auto;
  }
}

.btn-green {
  color: #fff;

  background: #34c176;
}

.btn-red {
  color: #fff;

  background: #95390c;
}

.btn-purple {
  color: #fff;

  background: #5328a1;
}

.card {
  max-width: 368px;
  padding: 0 1.5rem;

  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.card-title {
  padding: 1.5rem 0 12.5rem;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  .card-title {
    padding: 1rem 0 12.5rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
}

.card-price {
  position: relative;

  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
  text-transform: inherit;
}

.card .currency {
  padding-left: 1rem;

  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
  vertical-align: top;
}

.card .describtion {
  margin: 4rem 0;

  font-size: 13px;
  line-height: 19px;
}

.form {
  max-width: 35.625rem;
  margin: 0 auto;
}

.form-input {
  flex: 1 1 16.875rem;
  min-width: 16.875rem;
  min-height: 3.125rem;
  margin-top: 1.063rem;
  margin-bottom: 1.5rem;
  padding-left: 1.25rem;

  color: #fff;
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 1.026rem;
  text-transform: inherit;

  background: transparent;
  border: 0.125rem solid #cacaca;
  border-radius: 0.188rem;
}

.form-input:not(:last-child) {
  margin-right: 1.5rem;
}

@media (max-width: 425px) {
  .form {
    flex-wrap: wrap;
  }

  .form-input:not(:last-child) {
    margin-right: 0;
  }

  .form-input:last-child {
    margin-top: 0;
  }
}

.news-body {
  display: flex;
  flex-direction: column;

  color: #cacaca;
}

.news-body p {
  margin-top: 1.875rem;
}

@media (max-width: 425px) {
  .news-body p {
    margin-top: 1rem;
  }
}

.news-body-title {
  color: #fff;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 2.813rem;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .news-body-title {
    margin-top: 3rem;

    font-weight: normal;
    font-size: 1rem;
    line-height: 1.625rem;
    text-transform: capitalize;
  }
}

.news-body-footer {
  margin-top: 1.5rem;
  padding-bottom: 3rem;

  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.188rem;
  text-transform: inherit;
}

@media (max-width: 425px) {
  .news-body-footer {
    margin-top: 1.5rem;
  }
}

.news-body-footer > * {
  margin-right: 1rem;
}

.icon {
  position: relative;
}

.icon::before {
  position: absolute;

  content: "";
}

.icon-play-button::before {
  background-image: url("../images/play-button.svg");
  filter: invert(1);
}

.icon-heart::before {
  background-image: url("../images/heart.svg");
  filter: invert(1);
}

.track img {
  width: 3.438rem;
  height: 3.438rem;
}

.track-info {
  flex: 1 1;
  margin-left: 1rem;
}

.track-title {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

.track-name {
  color: #e0e0e0;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: inherit;
}

.track .time {
  margin: auto 0;

  color: #e0e0e0;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: inherit;
}

.albom-name {
  margin-top: 0.688rem;

  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.688rem;
  text-transform: inherit;
}

.albom p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: inherit;
}

.albom .image {
  width: 15.625rem;
  height: 15.625rem;
  margin: 0;
}

@media (max-width: 425px) {
  .albom .image {
    width: 8.563rem;
    height: 8.563rem;
  }
}

.artist-name {
  margin-top: 0.688rem;

  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.688rem;
  text-transform: inherit;
}

.artist p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: inherit;
}

.artist .image {
  width: 15.625rem;
  height: 15.625rem;
}

@media (max-width: 425px) {
  .artist .image {
    width: 8.563rem;
    height: 8.563rem;
  }
}

.header {
  position: absolute;
  top: 1.563rem;
  right: 0;
  left: 0;

  font-weight: 400;
  font-size: 0.688rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.header .nav-menu ul > * {
  margin-left: 1.5rem;
}

.header .nav-menu a:hover {
  color: #fff;

  cursor: pointer;
}

.header .nav-menu a:active {
  color: #fff;
}

.header .logo {
  margin-right: 4.125rem;
}

.header .logo-image {
  width: 1.5rem;
  margin-right: 1rem;
}

.header .logo-title {
  padding: 0;
}

.header .search-input {
  min-width: 15.5rem;
  min-height: 1.563rem;
  margin: 0 0 0 auto;
  padding: 0.313rem 0.625rem;

  color: #fff;

  background: #3c3b3d;
  border: none;
  border-radius: 3.125rem;
}

.header .search-input::placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 0.831rem;
  line-height: 0.938rem;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  .header .nav-menu ul {
    flex-direction: column;
  }

  .header .nav-menu ul li {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .header > * {
    flex: 1 1 100%;
  }

  .header .logo {
    margin-bottom: 1rem;
  }

  .header .nav-menu {
    margin-bottom: 1.125rem;
  }
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer a {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  text-transform: inherit;
}

.footer .column-links .box {
  margin-bottom: -0.938rem;
  margin-left: -2.5rem;
  padding: 3rem 0 4.5rem;
}

.footer .column-links .box > * {
  flex: 1 1 200px;
  margin-bottom: 0.938rem;
  margin-left: 2.5rem;
}

@media (max-width: 425px) {
  .footer .column-links .box {
    margin-bottom: -1rem;
    margin-left: -1.25rem;
  }

  .footer .column-links .box > * {
    flex: 1 1 200px;
    margin-bottom: 1rem;
    margin-left: 1.25rem;
  }
}

.footer .column-links .box .footer-title {
  display: inline-block;
  padding: 0.938rem 0;

  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.688rem;
  text-transform: uppercase;
}

.footer .column-links .box li {
  white-space: nowrap;
}

.footer .column-links .box img {
  margin-right: 1.2rem;
}

.footer hr {
  margin: 0;

  border: 0.063rem solid #cacaca;
  border-radius: 0;
}

.footer .bottom-links ul {
  padding: 2.5rem 0;
}

@media (max-width: 768px) {
  .footer .bottom-links ul {
    flex-direction: column;
  }
}

.footer .bottom-links ul li:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .footer .bottom-links ul li:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.home-page-description {
  padding: 12.5rem 0;

  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
}

@media (max-width: 425px) {
  .home-page-description {
    padding: 15.438rem 0 12.5rem;
  }
}

.home-page-description p {
  margin-top: 2.063rem;

  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: inherit;
}

@media (max-width: 425px) {
  .home-page-description p {
    margin-top: 1rem;
  }
}

.home-page-description-btn {
  flex: 1 1 35.625rem;
  max-width: 35.625rem;
  min-height: 3.75rem;
  margin: 0;
  padding: 1.25rem 1.875rem;

  font-weight: normal;
  font-size: 0.831rem;
  line-height: 0.956rem;
  text-transform: uppercase;
}

.page-pricing .box {
  margin-bottom: 0;
  margin-left: -3.125rem;
}

.page-pricing .box > * {
  flex: 1 1 366px;
  margin-bottom: 0;
  margin-left: 3.125rem;
}

@media (max-width: 425px) {
  .page-pricing .box {
    justify-content: center;
    min-width: 23.375rem;
    margin-bottom: -3.125rem;
    margin-left: 0;
  }

  .page-pricing .box > * {
    flex: 1 1 374px;
    margin-bottom: 3.125rem;
    margin-left: 0;
  }
}

.page-pricing .bg-free {
  width: 374px;
  max-width: 100%;
  height: 100%;

  background-image: url("../images/subscribe_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-pricing .bg-standard {
  width: 374px;
  max-width: 100%;
  height: 100%;

  background-image: url("../images/subscribe_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-pricing .bg-premium {
  width: 374px;
  max-width: 100%;
  height: 100%;

  background-image: url("../images/subscribe_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 425px) {
  .page-pricing .bg-free {
    width: 374px;
    max-width: 100%;
    height: 100%;

    background-image: url("../images/Free-Bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .page-pricing .bg-standard {
    width: 374px;
    max-width: 100%;
    height: 100%;

    background-image: url("../images/Standart-Bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .page-pricing .bg-premium {
    width: 374px;
    max-width: 100%;
    height: 100%;

    background-image: url("../images/Premium-Bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.page-pricing h2 {
  margin-bottom: 3rem;
}

.page-pricing .bottom-describtion {
  padding-top: 2.625rem;
}

.page-pricing-btn {
  flex: 1 1 20.375rem;
  max-width: 20.375rem;
  min-height: 4.125rem;
  margin: 2.5rem 0 0;

  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;

  background: transparent;
  border: 0.063rem solid #fff;
}

.page-news p {
  color: #cacaca;
}

.page-news .flex-container {
  flex: 1 1 575px;
  justify-content: space-between;
}

.page-news .flex-container > * {
  max-width: 575px;
}

.page-news > article:not(:last-child) {
  margin-bottom: 4.063rem;
}

.page-news .news-image {
  width: 100%;
  height: 17.875rem;
}

@media (max-width: 425px) {
  .page-news .news-image {
    height: 11.625rem;
  }
}

.page-news-btn {
  max-width: 8.438rem;
  min-height: 3.313rem;
  margin: 0;
  padding: 0 1.875rem;

  color: #cacaca;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.188rem;
  text-transform: uppercase;

  background: transparent;
  border: 0.063rem solid #cacaca;
}

.page-news .news-body-special-margin {
  margin-top: 1rem;
}

@media (max-width: 425px) {
  .page-news .news-body-special-margin {
    margin-top: 1rem;
  }
}

.mobile .box {
  margin-bottom: 0;
  margin-left: -1.25rem;
}

.mobile .box > * {
  flex: 1 1 600px;
  margin-bottom: 0;
  margin-left: 1.25rem;
}

@media (max-width: 768px) {
  .mobile .box {
    flex-wrap: wrap-reverse;
  }
}

.mobile p {
  padding-top: 1rem;

  color: #cacaca;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: inherit;
}

.mobile-btn {
  margin-top: 1rem;
  padding: 1rem 2.5rem;

  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: inherit;

  border-radius: 2rem;
}

.mobile img {
  height: 17.375rem;
}

.artist-page-description {
  padding: 12.5rem 0 14rem;

  background: url("../images/Morten Harket.png") no-repeat center;
  background-size: cover;
}

.artist-page-description h1 {
  margin: 3rem 0 0;
}

@media (max-width: 425px) {
  .artist-page-description h1 {
    margin: 1.5rem 0 0;
  }
}

.artist-page-description p {
  margin: 1rem 0 3.125rem;
}

.artist-page-description .box {
  max-width: 28rem;
  margin-bottom: -1.5rem;
  margin-left: -1.5rem;
}

.artist-page-description .box > * {
  flex: 1 1 200px;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

@media (max-width: 425px) {
  .artist-page-description .box {
    max-width: 14rem;
  }
}

.artist-page-description .box .banner-btn {
  justify-content: start;
  padding: 1.25rem 1.875rem 1.25rem 4.125rem;

  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.artist-page-description .box .banner-btn::before {
  bottom: calc(50% - 10px);
  left: 1.875rem;

  width: 1.25rem;
  height: 1.25rem;
}

.tracks .box {
  margin-right: 3.125rem;
  margin-bottom: -1.563rem;
  margin-left: -3.125rem;
}

.tracks .box > * {
  flex: 1 1 374px;
  margin-bottom: 1.563rem;
  margin-left: 3.125rem;
}

@media (max-width: 425px) {
  .tracks .box {
    margin-right: 0;
    margin-bottom: -1.563rem;
    margin-left: -3.125rem;
  }

  .tracks .box > * {
    flex: 1 1 374px;
    margin-bottom: 1.563rem;
    margin-left: 3.125rem;
  }
}

.alboms .box {
  margin-right: 3.125rem;
  margin-bottom: -1.563rem;
  margin-left: -3.125rem;
}

.alboms .box > * {
  flex: 1 1 250px;
  margin-bottom: 1.563rem;
  margin-left: 3.125rem;
}

@media (max-width: 425px) {
  .alboms .box {
    margin-right: 3rem;
    margin-bottom: -1.563rem;
    margin-left: -3rem;
  }

  .alboms .box > * {
    flex: 1 1 137px;
    margin-bottom: 1.563rem;
    margin-left: 3rem;
  }
}

.discography .empty {
  margin-bottom: 0;
}

.similar .box {
  margin-right: 3.125rem;
  margin-bottom: -1.563rem;
  margin-left: -3.125rem;
}

.similar .box > * {
  flex: 1 1 250px;
  margin-bottom: 1.563rem;
  margin-left: 3.125rem;
}

@media (max-width: 425px) {
  .similar .box {
    margin-right: 3rem;
    margin-bottom: -1.563rem;
    margin-left: -3rem;
  }

  .similar .box > * {
    flex: 1 1 137px;
    margin-bottom: 1.563rem;
    margin-left: 3rem;
  }
}
