* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

html {
  color: $dark-gray;
  font-family: Roboto, sans-serif;

  background-color: $black;

  @include set-typography($rem-base, 24px);
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

h1 {
  @include set-typography(60px, 90px, 700, uppercase);

  @include set-media(sm) {
    @include set-typography(30px, 45px, 700, uppercase);
  }
}

h2 {
  @include set-typography(38px, 57px, 700, uppercase);

  @include set-media(sm) {
    @include set-typography(18px, 27px, 700, uppercase);
  }
}

h3 {
  @include set-typography(24px, 36px, 400, uppercase);
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;

  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {

  width: 100%;
  max-width: px-to-rem(1240px);
  margin: 0 auto;
  padding: 0 px-to-rem(20px);
}

.main-content {
  margin-bottom: px-to-rem(100px);

  color: $white;
}
