$rem-base: 16px;
$white: #fff;
$black: #08020d;
$green: #34c176;
$orange: #f89202;
$red: #95390c;
$purple: #5328a1;
$gray: #e0e0e0;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$breakpoints: (
  xxs: 320px,
  xs: 375px,
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
$subscriptions: (
  "free": "subscribe_1",
  "standard": "subscribe_2",
  "premium": "subscribe_3",
);
