* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../../fonts/Roboto-Regular.ttf");
}

html {
  font-family: Roboto, sans-serif;
}
